#Skip eclipse metadata and unuseful folders for project
.metadata/
.classpath
.project
trending/.settings/
trending/target/

#Skip Mac files
.DS_Store

#Skip text files generated in program
trending/results/

#Skip dataset for DL model and ipynb checkpoints
dl_training/dataset/
.ipynb
.ipynb_checkpoints/