#Skip eclipse metadata and unuseful folders for project
.metadata/
.classpath
.project
trending/.settings/
trending/target/

#Skip Mac files
.DS_Store

#Skip text files generated in program
trending/results/

#Skip dataset for DL model (json files), H5 file and ipynb checkpoints
*.json
*.h5
*.ipynb
.ipynb_checkpoints/